:root {
    --primary-color: #4A7B81;
    --secondary-color: #F3F0F5;
    --tertiary-color: #DC7174;
    --text-color: #311F32;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--secondary-color);
}

 /* Hero styles start */
.title-font {
    font-family: 'Amatic SC', cursive;
    font-size: 80px;
}

.hero {
    background-color: var(--primary-color);
}
/* Hero styles end */


/* Main content area styles start */
p {
    color: var(--text-color);
}

h3 {
    font-size: 25px;
    line-height: 40px;
    font-weight: 400;
}

.columns {
    margin: 0;
    border-radius: 0;
}
/* Main content area styles end */


/* Left panel styles start */
.left-nav {
    background-color: var(--tertiary-color);
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 25px;
}

.left-header {
    color: var(--tertiary-color);
    background-color: var(--secondary-color);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 2%;
    margin-bottom: 15px;
}

.header-color {
    background-color: var(--tertiary-color);
}

.card-spacing {
    margin-bottom: 15px;
}

.btn {
    background-color: var(--secondary-color);
    width: 100%;
    margin-bottom: 15px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-color: var(--primary-color);
}

.btn:hover {
    background-color: var(--primary-color);
}
/* Left panel styles end */


/* Right panel styles start */
.col {
    padding: 1%;
}

.col-lg {
    height: 200px;
    overflow: hidden;
    margin: 10px 0;
    position: relative;
    flex-basis: 30%;
}
  
.col-lg img {
    display:flex;
    position: absolute;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
}

.img-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
/* Right panel styles end */

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 980px) {
    .col-lg {
        flex-basis: 50%;
    }
}

@media screen and (max-width: 575px) {
    .col-lg {
        flex-basis: 100%;
    }
}